
<%- include ('partials/_header'); -%> 
    <div class="container">
        <div class="row">
            <!--Form-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST"><!--Mandar un evento-->
                          <div class="form-group">
                            <input type="text" name="titulo" placeholder="Inserta un titulo" class="form-control m-1">
                          </div>  
                          <div class="form-group">
                              <textarea name="descripcion" cols="80" class="form-control m-1" placeholder="Inserta una descripcion"></textarea>
                          </div>
                          <div>
                              <button type="submit" class="btn btn-primary m-1">Agregar</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--List-->
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>Operacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i<tasks.length; i++){%>
                            <tr>
                                <td> <%= i+1 %> </th>
                                <td> <%= tasks[i].titulo %> </td>
                                <td> <%= tasks[i].descripcion %> </td>
                                <td>
                                    <a href="/turn/<%= tasks[i]._id %>" class="btn <%= tasks[i].estatus ? 'btn-success' : 'btn-dark' %> m-1">Done</a>
                                    <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger m-1">Delete</a>
                                    <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info m-1">Edit</a>
                                </td>
                            </tr>
                        <%} %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include ('partials/_footer.ejs'); %> 
